.block1{
    background-color:rgb(33, 114, 236) ;
    text-align: center;
    color: white;
    padding: 100px;
}
.block2{
    background-color:rgb(255, 255, 255) ;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 100px;
}
.block3{
    background-color:darkblue ;
    text-align: center;
    color: white;
    padding: 100px;
}
