.btn{
    border-radius: none;
    color: #fff;
    padding: 12px;
    margin-right: 7px;
    border: 1px solid white;
}
.btn:hover{
    background-color: #fff;
     color: #000;
}
.logo-img{
    color: #fff;
    font-size: 5rem;
}
.h2-logo{
    padding: 1rem 0;
}
.p-text{
    padding: 1.4rem 0;
}
.transparent-input {
    width: 600px;
    background-color: transparent;
    border: 1px solid #fff;  
    color: #fff; 
    height: 50px;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .transparent-input:focus {
    outline: none; 
    border-color: #ccc;  
  }
  