* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

.p-right-0 {
  padding-right: 0;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
}
header .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
}
header .container .header nav ul {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header nav ul li a {
  color: #000;
  transition: all 0.6s;
}
header .container .header nav ul li a:hover {
  color: red;
}
header .container .header .icons {
  display: flex;
  gap: 30px;
}
header .container .header .icons i {
  transition: all 0.6s;
}
header .container .header .icons i:hover {
  color: red;
}

main {
  height: 100vh;
}
main #section {
  background-color: #f0f0f2;
}
main #section .container .main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #section .container .main .left-side {
  position: relative;
}
main #section .container .main .left-side h1 {
  font-size: 7rem;
}
main #section .container .main .left-side .show-now {
  position: absolute;
  background-color: gray;
  color: white;
  width: 142px;
  height: 42px;
  font-size: 1rem;
  border: none;
  transition: all 0.6s;
  animation: btn 2s infinite;
}
main #section .container .main .left-side .show-now:hover {
  background-color: red;
  background: linear-gradient(to left, red, red);
}
@keyframes btn {}
main #sect {
  margin-bottom: 100px;
}
main #sect h2 {
  margin: 40px;
  font-size: 3rem;
}
main #sect .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #sect .container .row {
  gap: 30px;
}
main #sect .container .row .col .img:hover {
  animation: img 1s;
}
main #sect .container .row .col p {
  color: red;
}
@keyframes img {
  0% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}
main #sect .container .row .col .texts {
  gap: 10px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */