/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App {
  max-width: 1250px;
  margin: auto;
}

.todo {
  padding: 43px;
}

#todo-input {
  width: 800px;
  padding: 6px;
  margin-right: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #e6ffe6;
  padding: 10px;
  margin: 5px auto;
  width: 60%;
  border-radius: 5px;
}

.todo-buttons button {
  margin-left: 5px;
  cursor: pointer;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 240px;
}

.completed {
  text-decoration: line-through;
}

.count {
  color: red;
}

.add-btn {
  background-color: #007bff;
  color: white;
}

.add-btn:hover {
  background-color: #0055b1;
}

.filter-btn {
  padding: 5px 20px;
  cursor: pointer;
}

.filter-btn.active {
  font-weight: bold;
}

#AllTodos {
  background-color: #007bff;
  color: white;
}

#AllTodos:hover {
  background-color: #0055b1;
}

#AllCompl {
  background-color: #28a745;
  color: white;
}

#AllCompl:hover {
  background-color: #1d7431;
}

#AllPending {
  background-color: yellow;
}

#Clear {
  background-color: #dc3545;
  color: white;
}

#Clear:hover {
  background-color: #b32d3a;
}

.edit-btn {
  background-color: rgba(6, 180, 6, 0.836);
  color: #fff;
}

.edit-btn:hover {
  background-color: rgb(5, 128, 5);
}

.delete-btn {
  background-color: red;
  color: #fff;
}

.delete-btn:hover {
  background-color: rgb(194, 4, 4);
}
