*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height: 250vh;

}
.carousel-inner img {
    width: 100%;
    height: 600px; 
    object-fit: cover; 
  }
.card-body{
    text-align: center;
}
.col h2{
    font-size: 3rem;
}
.col p{
    font-size: 1.02rem;
}
.text1{
    text-align: left;
}
.carousel-caption h5{
    font-size: 2.5rem;
}
.text2{
    text-align: right;
}