* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#header {

    background-color: #fff;
    width: 100%;
    height: 10vh;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
}

#header2 {
    background-color: rgba(230, 228, 226, 0.932);
    width: 100%;
    height: 6vh;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kapital {
    border-radius: 12px;
    border-color: red;
    color: white;
    background-color: red;
    margin-top: 8px;
    width: 82px;
    height: 41px;
    cursor: pointer;
    transition: all 0.6s;
}

button:hover {
    border-color: red;
    color: red;
    background-color: white;

}

.new-icons {
    display: none;
}

.icon {
    border-radius: 4px;
    width: 25px;
    height: 25px;
    border-color: red;
    color: red;
    background-color: white;
}

@media only screen and(max-width: 986px) {
    .main {
        display: none;
    }

    .head {
        display: none;
    }

    .new-icons {
        display: flex;
    }
}

h3 {
    font-size: 2.5rem;
    color: #fff;
}

p {
    color: blue;
}

#sect {
    background-color: darkblue;
}

.cards {}

.row i {
    font-size: 2.5rem;
    color: rgb(221, 184, 20);
}